name: Test Docker build
on:
  push:
    branches:
      - master
      - 'release-*'
  create:
  pull_request:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: build
        id: docker_build
        uses: docker/build-push-action@v2
